#woocommerce-product-data ul.product_data_tabs li.software_tab a:before {
	content: "\e028";
}

#woocommerce-order-licence-keys .inside,
#wc_software-activation-data .inside {
	margin: 0;
	padding: 0;
}

#woocommerce-order-licence-keys .buttons {
	float: left;
	padding: 0;
	margin: 0;
	vertical-align: top;
}

#activations-table td {
	padding: 8px;
	text-align: left;
	line-height: 26px;
	vertical-align: top;
}